<% provide(:title, "FAQ") %>

<h1>Häufig gestellte Fragen</h1>

<ul>
<li><a href="#raumpool">Über Raumpool Messestadt</a></li>
<li><a href="#fur_suchende">Für Raum-Suchende</a></li>
<li><a href="#fur_anbieter">Für Raum-Anbieter</a></li>
<li><a href="#recht">Rechtliche Fragen</a></li>
</ul>

<div id="raumpool"></div>

<h2>Raumpool Messestadt</h2>

<h3 id="nutzen">Wer kann den Raumpool nutzen?</h3>

<p>
Das Internetportal Raumpool Messestadt ist relevant als Informationsmöglichkeit in erster Linie für die Bewohner der Messestadt München und Einrichtungen, Initiativen und Unternehmen, die etwas für die Leute vor Ort anbieten wollen. Je nach Anbieter und kommerziellem Interesse sind aber auch Personen aus dem weiteren Umfeld der Messestadt hier willkommen. Wer letztlich als Zielgruppe bei den jeweiligen Räumen den Zuschlag bekommt, entscheiden die jeweiligen Träger und deren Nutzungsbedingungen.
</p>

<h3 id="warum">Warum nur in der Messestadt?</h3>

<p>
Die Messestadt Riem ist ein überschaubarer Münchner Stadtbezirk von Riem-Trudering mit derzeit 12.000 Einwohnern, der immer noch im Wachsen ist. Die Idee eines Raumpools für die schnellere Auffindbarkeit von Räumen für Familienfeiern, regelmäßige Kinderbetreuungen oder Seminare entstand in der Zusammenarbeit von privaten und sozialen Partnern diesen Stadtteils (s. Entwicklung). Die Vermietung von Räumen in unmittelbarer Nähe des Wohnortes oder Arbeitsplatzes gehört zum Konzept der Quartiersbezogenen Bewohnerarbeit (Landeshauptstadt München / Sozialreferat). Die Nachbarschaftstreffs in Riem und die intensive Kooperation mit anderen Einrichtungen im Stadtteil sowie die Vermittlung von Nachfragen untereinander haben zu diesem Konzept geführt. Der Stadtteilbezug und die Überschaubarkeit des Angebots für die Bürger/innen vor Ort sind uns wichtig. Wenn die Pilotphase erfolgreich verläuft, kann das Modell leicht auf andere Stadtteile übertragen werden.
</p>

<h3>Wie können andere den Betrieb unterstützen?</h3>

<p>
Der Raumpool Messestadt ist nicht nur ein Internetportal, sondern gleichzeitig ein Netzwerk von Messestädtern für Messestädter. Deshalb sind alle, die Räume anbieten, vermitteln oder nutzen wollen hier gerne gesehen auch bei der Verbreitung und Aktualisierung, beim Betrieb und der Finanzierung zu helfen. Sowohl ehrenamtliches Engagement (z.B. um in Nachbarschaftstreffs anderen zu helfen solche Räume kostengünstig zu buchen) als auch Spenden und Anzeigen werden helfen, das soziale Netzwerk ins Laufen zu bringen und am Laufen zu halten!
</p>

<div id="fur_suchende"></div>

<h3>Weitere Fragen?</h3>

<p>
Sehr gerne beantworten wir weitere Fragen direkt und bei gewisser Häufung innerhalb der FAQs. Bitte wenden Sie sich an das <%= link_to "Raumpool-Team", impressum_path %>. 
</p>

<h2>Für Raum-Suchende</h2>

<h3>Welche Suchmöglichkeiten habe ich?</h3>

<p>
Einfache Suche auf der ersten Seite nach einem bestimmten Begriff, oder „Erweiterte Suche“ wählen, wenn mehrere Kriterien erfüllt sein sollen. Geben Sie nur solche Auswahlkriterien an, die unbedingt notwendig sind. Je mehr Suchkriterien Sie für einen Raum angeben, desto weniger Räume werden angezeigt. Die Entscheidung für eines von mehreren angebotenen Kriterien muss die anderen nicht ausschließen, sondern kann als Prioritätensetzung benutzt werden. Die Suchergebnisse zeigen noch mehr Raumdetails an.
</p>


<h3>Wie wähle ich aus den Suchergebnissen den passenden Raum für den Termin aus?</h3>

<p>
Wenn der Raum bekannt ist und das gewünschte Datum feststeht, kann ich unter „Belegungskalender“ einsehen, ob der Raum noch frei ist. (Die Kalenderangaben sind allerdings unter Vorbehalt zu sehen, da mögliche Buchungen vielleicht zeitverzögert eingetragen werden.) Für eine Reservierungsanfrage zu diesem bestimmten Datum kann ich dann mit „Kontakt aufnehmen“ eine Anfrage stellen. Wenn ich den Raum noch nicht kenne, wähle ich den Namen des einzelnen Raums und erhalte so eine detaillierte Beschreibung des Raums. Für weitere Infos zum Raum kann ich die jeweilige Homepage des Anbieters wählen.
</p>

<h3>Wie erhalte ich nach der Reservierungsanfrage eine Bestätigung meiner Buchungswünsche?</h3>

<p>
In der Regel erfolgt kurzfristig (innerhalb von ein bis zwei Werktagen) eine Antwort. Wenn der Raum zur gewünschten Zeit noch frei ist (und der beabsichtigte Nutzungszweck mit dem Raumkonzept übereinstimmt) erhalte ich eine Reservierungszusage und eine vorläufige Buchung im Kalender, sofern für diesen Raum ein Kalender angelegt worden ist. Je nach Handhabung des jeweiligen Raumanbieters werde ich aufgefordert, eine entsprechende Nutzungsvereinbarung vorab zu unterzeichnen. Nach Eingang der unterschriebenen Nutzungsvereinbarung unter Angabe von Details zu meiner Nutzung (wie Personenanzahl und technischer Bedarf) wird meine Reservierung (bzw. vorläufige Buchung) im Kalender in eine feste Buchung umgewandelt und ich erhalte eine entsprechende schriftliche Bestätigung.
</p>

<h3>Kann ich eine gewünschte Reservierung im mrbs-Kalender selber vornehmen?</h3>

<p>
Nein, leider nicht. Eintragungen sind nur dem jeweiligen Raumanbieter vorbehalten, mit dem ich direkt unter „Reservierungsanfrage“ im Suchergebnis per Mail Kontakt aufnehmen kann. Für konkrete Terminabsprachen kann ich auch die in der ausführlichen Raumbeschreibung genannten Kontaktmöglichkeiten nutzen.
</p>

<h3>Kann ich nach einem freien Raum zu einem bestimmten Zeitpunkt suchen?</h3>

<p>
Derzeit steht diese Funktion leider noch nicht zur Verfügung, soll aber später ergänzt werden.
</p>

<h3>Weitere Fragen?</h3>

<div id="fur_anbieter"></div>

<p>
Fragen „Wie erhalte ich den Schlüssel zum gebuchten Raum?“, „Wie erfolgt die Bezahlung der Raumgebühr?“, oder „Was mache ich, wenn ich einen Raum doch nicht mehr benötige?“, sind sind mit dem jeweiligen Raumanbieter zu klären, oder über den Raumpool-Kontakt bzw. die hinterlegten Detail-Infos, wie sie in der Raumpool-Liste aufgeführt sind.
</p>

<h2>Für Raum-Anbieter</h2>

<h3 id="anbieten">Wer kann über das Webportal Räume anbieten?</h3>

<p>
Prinzipiell kann jeder, der seine Räume zur Nutzung durch andere anbieten möchte sich hier anmelden. Derzeit ist noch der Schwerpunkt auf Veranstaltungsräumen, der sukzessive durch Büroräume, Werkstätten, Messen und Freiflächen erweitert werden wird. Auch Gästeappartements, Bed & Breakfast-Übernachtungsangebote etc. sollen in Zukunft eingetragen werden können. Dabei geht es nicht um dauerhafte Vermietungen (Immobilienmarkt) sondern um die Überlassung von Räumen auf Zeit zu bestimmten Anlässen.
</p>

<h3>Wie kann ich meinen Raum in die Liste aufnehmen lassen?</h3>

<p>
Nehmen Sie mit dem Raumpool-Team Kontakt auf (siehe Angaben auf der Seite <%= link_to "Kontakt", impressum_path %>), Sie erhalten dann ein eigenes User-Login. Nach Prüfung der Aufnahmekriterien (Stadtteilbezug, Nennung einer verantwortlichen Person) wird dem neuen Raumanbieter ein User-Login vergeben.
</p>

<h3>Wie trägt der Anbieter selber seinen Raum ein?</h3>

<p>
Auf der Seite „Raumverzeichnis“ einen „neuen Raum anlegen“ anklicken und die Eingabefelder möglichst umfassend unter Berücksichtigung der Pflichtfelder ausfüllen.
</p>

<h3>Welche Informationen stehen im Raumverzeichnis?</h3>

<p>
Das Raumverzeichnis enthält eine Liste aller Räume des Raumpools mit weiteren Informationen, wie Kurzbeschreibung, Links zu Homepage, Kontakten und Belegungskalender.
</p>

<h3>Wie fülle ich die Felder aus, wenn ich einen Raum anlege?</h3>

<p>
Die Eintragungen können auch nachträglich erfolgen und jederzeit erweitert oder korrigiert werden. Je deutlicher die Eignung und Ausstattung beschrieben ist, umso eher wird eine Suchanfrage genau diesen Raum als Ergebnis zeigen.
</p>

<h3>Wie kann ich meinen Raum-Belegungsplan allen Interessierten zugänglich machen?</h3>

<p>
Auf der Seite „Raumverzeichnis“ kann ein Link auf einen bestehenden Raum-Kalender eingetragen werden. Der Kalender des mrbs-Raumbuchungssystems kann auf Anfrage auch zur Suche nach freien Raumkapazitäten zu gewünschten Zeiten benutzt werden.
</p>

<h3>Wie kann ich meinen Raum für den mrbs-Buchungskalender anmelden?</h3>

<p>
Nehmen Sie mit dem Raumpool-Team Kontakt auf (siehe Angaben auf der Seite <%= link_to "Kontakt", impressum_path %>), Sie erhalten dann ein eigenes User-Login.
</p>

<h3>Wie nehme ich selber Buchungen im mrbs-Kalender vor?</h3>

<p>
Loggen Sie sich Benutzername und Passwort ein und klicken das gewünschte Datumsfeld an, bei Änderungen direkt auf bestehenden Eintrag.
Klicken Sie auf „Eintrag hinzufügen“ und tragen in Dialogfeldern gewünschte Angaben ein. Es können mögliche Wiederholungszeiträume mit gewünschtem Rhythmus und Wochentag gewählt und mit „Speichern“ beendet werden. Der Kalendereintrag wird angezeigt. Durch Anklicken von bestehendem Eintrag sind folgende Maßnahmen möglich: Änderung des einzelnen Eintrags, Änderung der Wiederholungen, Kopieren des Eintrags (bei Wiederholungen können sie auch kopiert werden), Löschen des einzelnen Eintrags oder Löschen aller Wiederholungen.
</p>

<h3>Wie kann ich im mrbs-Kalender Details eintragen, die nicht öffentlich sichtbar sein sollen?</h3>

<p>
Wenn im Dialogfeld „Eintrag hinzufügen“ der Button „Privat“ angeklickt wird, sind die Eintragungen „Status der Buchung“ und "Zusätzliche Vereinbarungen“ nur für den eingeloggten Benutzer sichtbar, der den Eintrag vorgenommen hat, und können somit gut zur internen Informationsweitergabe (bei einem gemeinsamen Login-Zugang) genutzt werden.
</p>

<h3>Wie kann ich regelmäßig wiederholende Belegungen eintragen?</h3>

<p>
Nach Anklicken des Anfangsdatums im Dialogfeld „Eintrag hinzufügen“ können verschiedene Wiederholungsarten (täglich, wöchentlich, monatlich, jährlich, Wochenanzahl) mit Abgabe des Wiederholungsendes angegeben werden. Soll die Wiederholung verlängert werden, so ist nach Anklicken des Eintrags eine Kopie bzw. sind Änderungen der Wiederholungen für einen anderen Zeitraum möglich.
</p>
 
<h3>Wie kann ich Wiederholungen ohne festen Rhythmus eintragen?</h3>

<p>
Einmalige oder mehrmalige Wiederholungen ohne Regelmäßigkeit sind nur durch jeweiliges Einzel-Kopieren des Eintrags (wie beschrieben) für das konkrete neue Datum möglich.
</p>

<div id="recht"></div>
   
<h3>
Weitere Fragen?
</h3>

<p>
Auf Anfrage können Sie sich jederzeit an das Raumpool-Team (siehe Seite <%= link_to "Kontakt", impressum_path %>) wenden, das Ihnen gegen einen kleinen Unkostenbeitrag individuelle Hilfeleistungen oder eine Schulung anbietet.
</p>

<!--
<h3>Wie lege ich als User selber meinen Raum an?</h3>

<p>
Klicken Sie auf der Startseite den Link „Neuen Raum anlegen“ an. Es wird Ihnen eine Eingabemaske mit mehreren Reitern angezeigt. Diese füllen Sie möglichst umfassend aus — zumindest: Adresse, Kontakt und Profil.
</p>

<h3>Muss ich sofort alle Felder ausfüllen, wenn ich einen Raum anlege?</h3>

<p>
Die Eintragungen können auch nachträglich erfolgen. Aber je deutlicher die Eignung und Ausstattung beschrieben ist, umso eher wird eine Suchanfrage genau diesen Raum als Ergebnis zeigen.
</p>

<h3>Wie kann ich meinen eigenen Raum-Belegungsplan allen Interessierten zugänglich machen?</h3>

<p>
Entweder tragen Sie die Internetadresse (url) zu Ihrem bestehenden Raumkalender in das entsprechende Eingabefeld beim Anlegen oder Bearbeiten Ihres Raumes ein, oder Sie wenden sich an das Raumpool-Team für Unterstützung (siehe Seite <%= link_to "Kontakt", impressum_path %>).
</p>

<p>
Falls Sie noch keinen eigen Raumkalender haben, können Sie sich vom Raumpool-Team gegen einen kleinen Unkostenbeitrag einen eigenen einrichten lassen. Wir verwenden dafür das open-source-Tool MRBS und passen dieses Ihren individuellen Bedürfnissen an.
</p>

<p>
Falls Sie z.B. nur einen Raum haben und keinen eigenen Raumbuchungskalender benötigen, können Sie nach Absprache mit dem Raumpool-Team (siehe Seite <%= link_to "Kontakt", impressum_path %>) Ihren Raum auch auf dem bestehenden Raumbuchungssystem mit eintragen lassen.
</p>

<h3>Wie kann ich im Raumbuchungssystem (MRBS) Buchungen eintragen?</h3>

<p>
1. Loggen Sie sich mit dem Usernamen und Passwort ein, den Sie vom Raumpool-Team erhalten haben.
</p>

<p>
2. Klicken Sie im Kalender auf das Datum, an dem Sie etwas eintragen möchten, oder auf einen vorhandenen Eintrag, falls Sie einen ändern möchten.
</p>

<p>
3. Im Dialog „Eintrag hinzufügen“ füllen Sie die Felder entsprechend aus und nehmen Sie gewünschte Einstellungen (Wiederholungen etc.)
wie angeboten vor.
</p>

<p>
4. Mit Klick auf „Speichern“ beenden Sie den Eintrag. Es wird Ihnen der Kalendereintrag angezeigt.
</p>

<p>
5. Mit Klick auf einen bestehenden Eintrag lassen sich Einträge auch ändern, kopieren (auch mit Wiederholungen) und löschen (auch mit allen Wiederholungen).
</p>

<h3>Wie kann ich Eintragungen im MRBS machen, die nicht für jeden sichtbar sein sollen?</h3>

<p>
wenn im Dialogfeld „Eintrag hinzufügen“ der Button „Privat“ angeklickt wird, sind die Eintragungen „Status der Buchung“ und „Zusätzliche Vereinbarungen“ nur für eingeloggte Benutzer sichtbar und können somit gut zur internen Informationsweitergabe genutzt werden.
</p>

<h3>Wie kann ich regelmäßig wiederholende Belegungen eintragen?</h3>

<p>
Nach Anklicken des Anfangsdatums im Dialogfeld: „Eintrag hinzufügen“ können verschiedene Wiederholungsarten (täglich, wöchentlich, monatlich, jährlich, Wochenanzahl) mit Abgabe des Wiederholungsendes angegeben werden.
</p>

<p>
Soll die Wiederholung verlängert werden, so ist nach Anklicken des Eintrags eine Kopie bzw. Änderungen der Wiederholungen für einen anderen Zeitraum möglich.
</p>

<h3>Wie kann ich Wiederholungen ohne festen Rhythmus eintragen?</h3>

<p>
Einmalige oder mehrmalige Wiederholungen ohne Regelmäßigkeit sind nur durch jeweiliges Einzel-Kopieren des Eintrags (wie beschrieben) für das konkrete neue Datum möglich.
</p>
-->

<h2>Rechtliche Fragen allgemein</h2>

<p>
Die nachfolgend zusammengestellten Antworten auf zentrale rechtliche Fragen der Raumüberlassung sind als Serviceleistung auf diesem Portal zu verstehen. Sie wurden zwar mit juristischem Beistand erstellt, haben aber keinerlei Rechtsberatungsanspruch im engeren Sinne. Letztlich muss jeder Einzelfall besonders gewürdigt werden. Aus den vorgelegten Informationen und Empfehlungen können folglich auch keine Haftungsansprüche gegenüber dem Verfasser abgeleitet werden.
</p>

<h3>Wer ist verantwortlich, wenn eine Gruppe / Initiative einen Raum zur zeitlich befristeten Nutzung anmietet?</h3>

<p>
Vertragspartner kann auf Seiten der Nutzer sowohl eine Einzelperson, wie auch eine Gruppe oder Initiative sein. Im Falle einer Einzelperson sind die Verantwortlichkeiten klar. Verantwortlich ist jene Person, die den Nutzungsvertrag unterzeichnet. Komplexer ist der Sachverhalt, wenn eine Gruppe oder Initiative den Raumnutzungsvertrag unterzeichnet. Wer letztlich verantwortlich zeichnet, ist je nach Organisationsform der Gruppe / Initiative unterschiedlich.
</p>

<p>
a) Bei rechtsfähigen Organisationen oder Gesellschaftsformen ist dies eindeutig, da diese als juristische Person Rechtsgeschäfte (also auch Nutzungsverträge) abschließen können. Sie werden — z.B. im Falle eines eingetragenen Vereins (e.V.) —; von dem gewählten Vorstand vertreten, der im Namen des Vereins tätig aber selber nicht Vertragspartner wird.
</p>

<p>
b) Eine Gruppe / Initiative, die nicht als Verein o.ä. organisiert ist, also keine juristische Person ist, erfüllt in der Regel die Kriterien für eine Gesellschaft bürgerlichen Rechts (sog. BGB-Gesellschaft). In diesem Fall wird also die Gesellschaft des bürgerlichen Rechts Vertragspartner. Nachdem die Gruppe aber keine juristische Person ist, sondern eine Personengesellschaft, sind somit alle Gesellschafter (Gruppenmitglieder) als Personenmehrheit Vertragspartner. Verantwortlich für die Anmietung der Räume sind somit alle, auch wenn — wie in der Praxis meist üblich — nicht alle den Nutzungs- oder Mietvertrag unterschreiben. (Zur Definition und Bedeutung von Gesellschaften Bürgerlichen Rechts im Kontext der Selbsthilfe siehe: Recht für Selbsthilfegruppen, Selbsthilfezentrum München (Hg.), Autorin: Renate Mitleger-Lehner, AG SPAK, Neu-Ulm 2010, S. 28 ff.)
</p>

<p>
Der- / diejenige, der / die den Vertrag unterschreibt, ist für den Vermieter daher auch der Ansprechpartner in diesem Rechtsgeschäft. Der / die Unterzeichnende wird im Zweifel auch mit Ansprüchen des Vermieters konfrontiert sein, denn es ist dem Vermieter nicht zuzumuten, sich mit allen Fragen immer an alle Mitglieder der Gesellschaft bürgerlichen Rechts zu wenden. 
</p>

<p>
Es empfiehlt sich daher für denjenigen / diejenige, der / die den Vertrag unterschreibt, sich vorher von der Gruppe den Auftrag geben zu lassen, dieses Rechtsgeschäft im Namen der Gruppe vornehmen zu dürfen. Und dies sollte er / sie dann auch gegenüber dem Vermieter so erklären („Ich bin von der Gruppen xy beauftragt, diesen Raum bei Ihnen anzumieten…“). Wichtig ist dann eben auch, dass der Name der Gruppe als Vertragspartner genannt wird und nicht nur die Einzelperson, die gerade unterschreibt.
</p>

<p>
Für den Raumanbieter empfiehlt sich, denjenigen / diejenige, der / die für die Gruppe handelt auch noch persönlich als Vertragspartner aufzunehmen. Denn im Schadensfall kann sich der Raumanbieter dann auch allein an denjenigen / diejenige halten. Letzterer / letztere muss sich dann mit der Gruppe, die ihn beauftragt hat, auseinandersetzen. Denn innerhalb der Gruppe trägt jeder das gleiche Risiko für die vertragliche Haftung, egal wer für die Gruppe gehandelt hat.
</p>

<h3>Wer haftet, wenn während der Raumnutzung bei Dritten / Besuchern ein Sach- oder Personenschaden entsteht?</h3>

<p>
Bei auftretenden Schäden ist zu prüfen, ob jemand und wenn ja, wer in die Haftung genommen werden kann.
</p>

<p>
Wenn jemand aus Versehen oder aus Ungeschicklichkeit auf einer Treppe stolpert und sich verletzt, ist das persönliches Pech und dafür niemand verantwortlich zu machen (sofern die Treppe in einem ordnungsgemäßen Zustand ist). 
</p>

<p>
Wenn jemand aus Versehen oder aus Ungeschicklichkeit einer anderen Person eine Tasse Kaffee auf einen weißen Mohair-Pullover schüttet, muss die Person selbst dafür gerade stehen.
</p>

<p>
Anders verhält es sich, wenn die Gruppe im Rahmen ihrer Raumnutzung eine Veranstaltung mit Kaffeeausschank durchführt, und dabei ein Gruppenmitglied einem Besucher den Schaden in seiner Funktion als „Thekenwirt“ zufügt. Dann haftet — neben dem Verursacher — auch der Veranstalter, also die raumnutzende Gruppe.
</p>

<p>
Je nachdem, um welche Organisationsform es sich bei der Gruppe handelt (s. oben), werden die Haftungsfragen in der Abwicklung eines Schadens anders beurteilt.
</p>

<p>
Bei einer juristischen Person (z.B. eingetragener Verein) haftet der Verein mit seinem Vereinsvermögen. Der Vorstand haftet persönlich nur, wenn ihm grobe Fahrlässigkeit vorgeworfen werden kann. Um den Bestand des Vereins im Erntfall nicht zu gefährden, empfiehlt sich auf jeden Fall der Abschluss einer Vereinshaftpflichtversicherung, die solche Schäden abdeckt. Diese Vereinshaftpflichtversicherung deckt also das Haftungsrisiko des Vereins und des Verursachers ab.
</p>

<p>
Bei einer nicht juristischen Person (z.B. Gesellschaft bürgerlichen Rechts / BGB-Gesellschaft) haften alle Gesellschafter, also alle Gruppenmitglieder gleichermaßen und persönlich mit ihrem Privateigentum. Voraussetzung ist, dass die Gruppe als Veranstalter ein Verschulden trifft, z.B. wenn fahrlässig Stolperfallen nicht beseitigt werden, obwohl sich dies aufdrängt. 
</p>

<p>
Beim Verursacher selbst greift unter Umständen eine private Haftpflichtversicherung.
</p>

<p>
Wenn jemand jedoch in Ausübung eines Ehrenamts den Schaden verursacht, ist zu prüfen, ob die eigene Versicherung diese Fälle abdeckt (oft sind solche Tätigkeiten von der Schadenübernahme ausgeschlossen). Für Schäden, die durch diese Funktionsträger verursacht werden, ist die „Bayerische Ehrenamtsversicherung“ eingerichtet worden (siehe unten). 
</p>

<p>
Der Vermieter der Räume haftet grundsätzlich nicht – es sei denn er hat seine Sorgfaltspflichten vernachlässigt (s. unten: „Verkehrssicherungspflicht“).
</p>

<p>
Für Unfälle mit Personenschäden gilt im Prinzip das Gleiche.
</p>

<h3>Wie kann man sich gegen Haftungsansprüche absichern — welche Versicherungsmöglichkeiten gibt es?</h3>

<p>
Entsprechend der oben beschriebenen Haftungsrisiken in den unterschiedlichen Nutzungskontexten empfiehlt es sich grundsätzlich zu überprüfen, ob für die individuelle Haftungsabsicherung eine persönliche Haftpflichtversicherung vorliegt. Ist dies nicht der Fall sollte eine abgeschlossen werden. Prüfen Sie, ob dabei eine Schadensübernahme im Rahmen von ehrenamtlichen Tätigkeiten ausgeschlossen ist oder nicht.
</p>

<p>
Für Schadensfälle, die im Rahmen einer ehrenamtlichen Tätigkeit von einem Funktionsträger verursacht werden, gibt es die „Bayerische Ehrenamtsversicherung,“ die als unterstes Auffangnetz gedacht ist, wenn andere individuelle oder kollektive Versicherungsformen (siehe oben) nicht greifen. Diese legt allerdings mitunter den Begriff „Funktionsträger“ eng aus (nähere Informationen hierzu finden Sie unter: <a target="_blank" href="http://www.ehrenamtsversicherung.bayern.de">www.ehrenamtsversicherung.bayern.de</a>).
</p>

<p>
Bei der Raumnutzung durch eine Gruppe oder Initiative die als Gesellschaft Bürgerlichen Rechts angesehen werden kann, ist es möglich, die individuelle Haftung durch den Abschluss einer privaten Gruppenhaftpflichtversicherung zu vermeiden bzw. einzugrenzen.
</p>

<p>
Für Vereine oder andere Organisationen, die als juristische Person angesehen werden, können Vereinshaftpflichtversicherungen oder entsprechende andere Körperschaftsversicherungen abgeschlossen werden.
</p>

<h3>Welche Pflichten hat der Raumanbieter (Verkehrssicherungspflicht)?</h3>

<p>
Die Verkehrssicherungspflicht leitet sich aus § 823 BGB — Schadensersatzpflicht ab: „Wer vorsätzlich oder fahrlässig das Leben, den Körper, die Gesundheit, die Freiheit, das Eigentum oder ein sonstiges Recht eines anderen widerrechtlich verletzt, ist dem anderen zum Ersatz des daraus entstehenden Schadens verpflichtet.“
</p

<p>
In der Praxis ergeben sich daraus die unterschiedlichsten Sachverhaltskonstruktionen. Die Anzahl der in Frage kommenden Situationen im gesellschaftlichen Zusammenleben ist im Grunde unüberschaubar und die Anzahl der diesbezüglichen Rechtssprechungen sehr groß. In der Regel messen diese Urteile den von einem Schaden Betroffenen (denn nur dann kommt es zu juristischen Verfahren) ein großes Maß an Eigenverantwortung und Sorgfaltspflicht zu. Es herrscht der Grundsatz, die Verkehrssicherungspflicht gehe nicht soweit, dass den Menschen jegliches Risiko abgenommen wird.
</p>

<p>
Für die Vermietung oder Bereitstellung von Räumen bedeutet dies, dass der Überlassende grundsätzliche Vorkehrungen zu treffen hat, um eine Gefährdung der Nutzer grundsätzlich auszuschließen. Dazu gehört — ohne Anspruch auf Vollständigkeit — unter anderem:
</p>

<p>
1. Der bauliche Zustand des Gebäudes darf keine Gefährdung durch lose, herabfallende, scharfkantige oder ähnliche Teile bedingen.
</p>

<p>
2. Energieführende Leitungen (Strom, Gas, Wasser) müssen den Sicherheitsstandards entsprechen.
</p>

<p>
3. Die Räumlichkeiten dürfen nur für eine zulässige Personenzahl freigegeben werden, die Verkehrswege müssen entsprechend dimensioniert und gestaltet sein.
</p>

<p>
4. Auf mögliche Gefahrenquellen muss hingewiesen werden (z.B. „Achtung Stufe“ oder „Vorsicht Rutschgefahr“).
</p>

<p>
Hinzu kommen die Sicherheitsauflagen wie Gewährleistung des Brandschutzes (Brandschutztüren, Wartung der Feuerlöscher etc.), Kennzeichnung und Freihaltung der Fluchtwege, Sicherung der Verkehrswege im Eingangsbereich des Gebäudes (z.B. Schneeräumpflicht), etc. 
</p>

<p>
Was dies im Einzelnen bedeutet, kommt sehr auf die Gegebenheiten vor Ort und die Art der Nutzung der Räume an. Die Verkehrssicherungspflicht endet aber auch mit der Bereitstellung der Räume. Je nach Art der Veranstaltung durch den Nutzer trägt dieser die Verantwortung für die weitere Umsetzung. Wer z.B. in den Räumen einen Töpferkurs durchführt, muss für die sichere Aufstellung der Gerätschaften Sorge tragen, wer eine Party veranstaltet, muss für eine schlaufenfreie, feste Verlegung von Kabeln, für die Einhaltung des Lärmschutzes etc. Sorge tragen. Dafür kann nicht der Vermieter verantwortlich gemacht werden. Es empfiehlt sich jedoch, dies in den Überlassungsvereinbarungen auch entsprechend festzuhalten (s. Muster „Allgemeine Nutzungsbedingungen“).
</p>

<h3>Was ist bei der Raumnutzung durch Kinder und Jugendliche zu beachten?</h3>

<p>
Sollen Räume auch von Kindern und Jugendlichen genutzt werden, müssen sie grundsätzlich auf deren Belange abgestimmt sein. So müssen z.B. bei Kleinkindern Geländer oder Absperrgitter deren geringe Körpergröße berücksichtigen („Durchrutschgefahr“) oder Steckdosen mit entsprechenden Sicherungssystemen ausgestattet sein. Es gilt also das, was auch die Kriterien der Verkehrssicherungspflicht ausmachen (siehe oben). 
</p>

<p>
Daneben besteht grundsätzlich jedoch immer eine Aufsichtspflicht, die je nach Alter unterschiedliche Anforderungen beinhaltet. Dieser Aufsichtspflicht muss immer der Veranstalter, also in der Regel der Raumnutzer nachkommen. Es empfiehlt sich jedoch für den Vermieter, dies in den Überlassungsvereinbarungen auch entsprechend so zu benennen (s. Muster „Allgemeine Nutzungsbedingungen“) und darauf zu dringen, dass auch ein Verantwortlicher, eine Aufsichtsperson im Nutzungsvertrag aufgeführt wird. Dies vermindert dann auch die Verkehrssicherungspflichten des Raumanbieters.
</p>

